.carouselCard {
  -webkit-box-shadow: 1px 5px 17px -6px rgba(0, 0, 0, 0.219);
  box-shadow: 1px 5px 17px -6px rgba(0, 0, 0, 0.219);
  margin: 20px;
  text-align: center;
}

.carouselPdName{
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #34a830;
}

.priceDrink{
  margin-top: 10px;
  margin-bottom: 10px;
}



.drink-btn {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 22px;
  background-color: #34a830;
  color: aliceblue;
}

.quick-btn {
  background-color: rgba(128, 128, 128, 0.089);
  color: #34a830;
}
