


.foodLink:hover{
  text-decoration: none;
}

.foodCard {
  -webkit-box-shadow: -2px 5px 11px -3px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 5px 11px -3px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  transition: 0.5s;
}

.foodCard:hover{
  box-shadow: none;
  background-color: rgb(0, 175, 9);
  
}
.foodCard:hover .foodtText{
  color: aliceblue;
  transition: 0.5s;
}
.foodCard .foodtText{
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 175, 9);
  font-weight: 700;
  letter-spacing: 1px;
}